.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-bottom: 8px;
}

.input-container label {
	font-size: 0.8rem;
}

.input-container input {
	padding: 0.5rem 0.75rem;
	outline: none;
	border: 1px solid rgb(218, 216, 216);
	border-radius: 0.25rem;
}
